body{
    background-color: rgb(77, 65, 160);
}
.rojo{
    color: rgb(201, 77, 77);
}
.verde{
    background-color: teal;
}
.morado{
    background-color: darkslateblue;
}
.blue{
    background-color: rgb(66, 66, 212);
}
.aaaaaa{
    background-color: rgb(209, 99, 59);
}